{% extends "inc/base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block navbar %}
    {% include "inc/authorized_navbar.html" %}
{% endblock navbar %}

{% block content %}
    <div class="mt-5">
        {% include "inc/question_tmp.html" %}
    </div>

    <hr size="4" style="margin-top: 80px">

    {% for answer in page_obj %}
        {% include "inc/answer_tmp.html" %}
    {% endfor %}

    <hr size="4" style="margin-top: 50px">
    <div class='row form-ans'>
        <form id="new-answer" class="enter-answer" action="/question/{{ question.id }}/" method="post">
            <div class="mb-3">
                <!-- <textarea class="form-control form-control-lg" id="TextForm"
                    placeholder="Enter your answer here..." rows="4"></textarea> -->
                {% csrf_token %}
                {% bootstrap_form form %}
                <button class="btn btn-outline-warning btn-send" type="submit">Answer</button>
            </div>
        </form>
    </div>

    {% include "inc/pagination.html" %}
{% endblock content %}

